@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nixie+One&family=Orbitron:wght@400..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
    @responsive {
      .4xl\:grid-cols-2 {
        grid-template-columns: repeat(2, minmax(0, 1fr));
      }
    }
  }

.App {
    @apply 
    min-h-screen 
    flex flex-col items-center justify-start 
    text-[calc(7px+2vmin)] text-white font-general
    bg-bgoval
    z-0
    relative
  }
  

.bg-tile {
background-repeat: repeat;
background-size: auto;
}

.btn {
    @apply 
    py-1 px-3
    mt-1 mb-1
    rounded-md
    shadow-lg
    transition
    duration-300
    ease-in-out
}

.btnstd {
    @apply
    btn
    bg-btn-grad hover:bg-btn-hover-grad
    hover:shadow-2xl
    text-white font-bold text-center
}

.btnboring {
    @apply
    btn
    bg-btn-boring-grad hover:bg-btn-hover-grad
    text-white
}

.btnaggrselect {
    @apply
    rounded-none
    bg-mediumwhite
    text-white
    py-0 px-2
}

.btnaggr {
    @apply
    rounded-none
    bg-gentlewhite
    text-white
    py-0 px-2
}

button {
    @apply btn;
  }

.inpt {
    @apply
    my-2
}

.h1 {
    @apply
    text-6xl
    font-bold
    text-center
    mt-6
    mb-8
}
h1 {
    @apply h1;
}

.togglesw {
    --s: 50px;
   /* adjust this to control the size*/
    height: calc(var(--s) + var(--s)/5);
    width: auto;
   /* some browsers need this */
    aspect-ratio: 2.25;
    border-radius: var(--s);
    margin: calc(var(--s)/2);
    display: grid;
    cursor: pointer;
    background-color: #acacac;
    box-sizing: content-box;
    overflow: hidden;
    transition: .3s .1s;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
  
  .togglesw:before {
    content: "";
    padding: calc(var(--s)/10);
    --_g: radial-gradient(circle closest-side at calc(100% - var(--s)/2) 50%,#000 96%,#0000);
    background: var(--_g) 0 /var(--_p,var(--s)) 100% no-repeat content-box,
      var(--_g) var(--_p,0)/var(--s)  100% no-repeat content-box,
      #fff;
    mix-blend-mode: darken;
    filter: blur(calc(var(--s)/12)) contrast(11);
    transition: .4s, background-position .4s .1s,
      padding cubic-bezier(0,calc(var(--_i,-1)*200),1,calc(var(--_i,-1)*200)) .25s .1s;
  }
  
  .togglesw:checked {
    @apply bg-darkbtn
  }
  
  .togglesw:checked:before {
    padding: calc(var(--s)/10 + .05px) calc(var(--s)/10);
    --_p: 100%;
    --_i: 1;
  }

  .graphdiv {
    @apply
    grid
    gap-24
    grid-cols-1
    4xl:grid-cols-2
    w-full
  }
  
  
  /* HOME */
  
  /* HEADER */
  .header.container {
      display: grid;
      grid-template-columns: 2fr 5fr 1fr;

  }
  .logo.simbolic {
      font-family:'Nixie One', cursive;
      font-size: 1.5rem;
      font-weight: bolder;
      margin-bottom: -0.5rem;
  }
  
  .icon {
      width: 30px;
      height: 30px;
  }
  
  .navigation {
      position: absolute;
      display: flex;
      top: 2em;
      right: 1em;
  
  }
  
  .nav.menu {
      position : relative;
      display: flex;
      flex: 1 1 auto;
      margin: 0;
      padding: 0 0px;
      list-style-type: none;
      /* top level element */
      li { 
          position: relative;
          padding: 10px;
          display: flex;
          flex-direction: column;
          align-items: flex-end;
          /* dropdown */
          ul {
              visibility: hidden;
              opacity: 0;
              position: absolute; /* Position the ul absolutely */
              right: 0; /* Align ul to the right edge of li */
              top: 100%; /* Position the ul below the li */
              display: block;
              padding: 0;
              width: 200px;
              list-style-type: none;
              /* dropdown element */
              li {
                  line-height: 1.7;
                }
              }
              &:hover {
                ul {
                  visibility: visible;
                  background: linear-gradient(90deg, #2b3945, #17212a);
                  opacity: 1;
                  box-shadow: 0px 3px 5px 2px #b0b5c0;
                  text-align: right;
                  li {
                    display: flex;
                    justify-items: end;
                    a {
                        color: #ffffff;
                        text-decoration: none;
                    }
                    &:hover {
                      a {
                        color: #ffffff;
                        text-decoration: none;
                        text-shadow: 0 0 1px #fff, 0 0 2px #fff5dd, 0 0 3px #fcdfba;
                      }
                    }
                  }
                    
                  }
          }
          /* Show class for click event */
          .show {
              visibility: visible;
                  background: #545B62;
                  opacity: 1;
                  box-shadow: 0px 3px 5px 2px #EBECF1;
                  li {
  
                    a {
                      color: #ffffff;
                      text-decoration: none;
                    }
                    &:hover {
                      a {
                        color: #ffffff;
                        text-decoration: none;
                        text-shadow: 0 0 1px #fff, 0 0 2px #fff5dd, 0 0 3px #fcdfba;
                      }
                    }
                  }
          }
      }
      }
  
  .dropdown-overlay {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: transparent;
      z-index: 1;
      }
  
  
  
  